<p>users works!</p>

<input type="text" name="name" placeholder="Name" [(ngModel)]="name">
<input type="text" name="age" placeholder="Age" [(ngModel)]="age">
<input type="text" name="ocupation" placeholder="Ocupation" [(ngModel)]="ocupation">
<button type="button" (click)="sendData()">Enviar</button>
<br>
<ul>
    <li *ngFor="let user of usuarios" (click)="removeUser(user)">
        {{ user.name }} - {{ user.age }} - {{ user.ocupation }}
    </li>
</ul>

<br>
<input type="text" name="name" placeholder="Name" [(ngModel)]="userId">
<button type="button" (click)="searchByUserId()">Buscar</button>
