<p tabindex="1">Elemnet 1</p>
<p tabindex="2">Element 2</p>
<p tabindex="3">Element 3</p>

<a href="#" role="link" aria-label="Leer mas acerca de las aplicaciones en Angular">Leer mas</a>
<button role="button" aria-label="Enviar la informacion del formulario de registro de usuario" title="Enviar Formulario">+</button>

<nav aria-label="Este es un menu desplegable de accesorios de ventanas" role="navigation">
    <ul role="list">
        <li role="listitem">Ventana</li>
        <li>Cristal</li>
        <li>Plastico</li>
        <li>Marco</li>
    </ul>
</nav>