.border {
    border: outset 1px black;
}

.color {
    color: blue;
}

.success {
    color: green;
}
.warning {
    color: orange;
}
.danger {
    color: red;
}
.info {
    color: blue;
}

.secondary {
    color: gray;
}