<h1>Hola mundo</h1>
<p>Title: {{title}}</p>
<div>
  <app-typescript
    [titulo]="title"
    (tituloModificado)="getTituloModificado($event)"
    (retornaNumero)="getRetonaNumero($event)">
  </app-typescript>
</div>

<button type="button" (click)="handleClickEvent()">Click Me!</button>
<p (mouseover)="handleClickEvent()">Hola mundo Peru!</p>


<p>{{ '2022-01-01' | date:'full' | lowercase }}</p>
<p>{{ 50000 | currency }}</p>

<p>{{ 'hola desde P' | uppercase | paises: ['P'] }}</p>
<p>{{ 'Hola desde M' | paises: ['M'] }}</p>

<p>{{ 'Hola desde' | uppercase }}</p>
<p>{{ 'HOLA DESDE' | lowercase }}</p>


<router-outlet></router-outlet>